@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --pale-blue: #e0e8ff;
    --Bright-blue: #3829e0;
    --very-pale-blue: #f5f7ff;
    --Desaturated-blue: #7280a7;
    --Dark-blue: #1f2f56;

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
    
    img {
    max-width: 100%;
    border-radius: 1em;
    }
    
    body {
        font-family: "Red Hat Display",sans-serif;
        background-color: var(--pale-blue);
        text-align: center;
    }
    h1 {
        color: hsl(223, 47%, 23%);
    }
    p {
        color: hsl(224, 23%, 55%)
        
    }
    p {
        line-height: 2;
    }
    .bg__image {
        background-image: url(".'/images/pattern-background-desktop.svg") no-repeat;
        height: 40px;
        width: 40px;
        position: absolute;
        
        
        
    }
    .container {
        background-color: #f0f8ff;
        margin: 100px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px hsl(224, 23%, 55%);
        width: 30em;
        
        
    }
    .countainer img {
        width: 100px;
        border-radius: 10px 1;
        
    }
.Container-parent {

    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}    

.btn-primary {
    background-color: #4133dd;
    color: ivory;
    padding: 10%;

}
.btn-secondery {
    background-color: transparent;
    color: #7280a7;
}
.btn-secondery:hover {
    color: #1f2f56;
}
    .btn {
        border: none;
        padding: 5px 10px;
        border-radius: 103px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        
    }
    .btn-change {
        background-color: transparent;
        color: var(--Bright-blue);
        text-decoration: none;
        font-family:"poppins" , sans-serif;
        padding: 5%;
    
    }
    .btn-change:hover,
    .btn-primary:hover {

        opacity: 0.8;
    }

    button {
        font-family: inherit
    }
    .buttons {

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .btn-secondery{

        padding: 20px;
    }
    .attribution {

        font-family: "poppins", sans-serif;
    }
    .btn {

        text-decoration: none;
    }
   .music {
    
    justify-content: space-between;
    display: flex;
    padding: 5%;
    width: 100%;
    justify-content: center;
    gap: 17px;
    align-items: center;
    

   }

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    /* test */